@model EditArtFormModel


@{ ViewBag.Title = "Edit"; }
<partial name="_NotificationsPartial" />

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">@ViewBag.Title</h2>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="An art of perfection..."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" class="form-control" placeholder="Aesthetic, cold, etc...">
                    <span asp-validation-for="Tags" class="small text-danger"></span>
                </div>

                <input class="btn btn-dark mt-3" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>