@using Microsoft.AspNetCore.Identity
@inject SignInManager<Artist> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Resources/DigitalArtsLogo.png" alt="Digital Arts" width="100px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-dark">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
                                            <img src="~/Resources/HomeIcon.png"height="25px" /> Home
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Gallery" asp-action="Index">
                                            <img src="~/Resources/GalleryIcon.png"height="25px" /> Gallery
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-dark">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Art" asp-action="Post">
                                            <img src="~/Resources/PostIcon.png" height="25px" /> Post
                                        </a>
                                    </button>
                                </div>
                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index">&copy; @DateTime.UtcNow.Year DigitalArts  </a> -
            <a asp-area="" asp-controller="PrivacyPolicy" asp-action="Index">Privacy Policy</a>

            <a asp-area="" asp-controller="Bug" asp-action="Post" style="float:right"> Report A Bug </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
