<button class="btn btn-dark notificationButton">
    <a   asp-area="" asp-controller="Notiffications" asp-action="Index">
        <img class="notificationIcon" src="~/Resources/NotificationIcon.png" alt="Notification" height="20px" />
    </a>
</button>

<style>
    .notificationButton {
        position: fixed;
        bottom: 8px;
        right: 16px;
        z-index: 1;
    }

    .notificationIcon {
        margin: 5px;
    }
</style>
