<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-dark">
        <a class="nav-link text-light" asp-area="Administration" asp-controller="Arts" asp-action="Index"> Arts </a>
    </button>
    <button type="button" class="btn btn-dark">
        <a class="nav-link text-light" asp-area="Administration" asp-controller="Artists" asp-action="Index"> Artists </a>
    </button>
    <button type="button" class="btn btn-dark">
        <a class="nav-link text-light" asp-area="Administration" asp-controller="Notiffications" asp-action="Index"> Notiffications </a>
    </button>
</div>