@using Microsoft.AspNetCore.Identity
@inject SignInManager<Artist> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome to DigitalArts</h1>
        <p><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register"> Register</a> to view and share arts with other artists </p>
    }
    else
    {
        <p> To DO </p>
    }
</div>
