@model IEnumerable<BugServiceModel>

@{
    ViewBag.Title = "Bugs Administration";
}

<div class="jumbotron">
    <partial name="_AdministrationButtons" />
    <hr />

    <h1 style="text-align:center;">Bugs</h1>
    <hr />

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="columnSize" scope="col">Id</th>
                <th class="columnSize" scope="col">Title</th>
                <th class="columnSize" scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bug in Model.OrderByDescending(b => b.Id))
            {
                <tr>
                    <td scope="col">@bug.Id</td>
                    <td scope="col">@bug.Title</td>
                    <td scope="col">@bug.Description</td>
                </tr>
                <tr>
                    <td scope="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-dark">
                                <a class="nav-link text-light" asp-area="Administration" asp-controller="Bugs" asp-action="Delete" asp-route-id="@bug.Id"> Delete </a>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .columnSize {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>